{% extends 'aplicacion/index.html' %}


{% block product_section %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">Acerca de mí</h1>
                <p class="lead">
                    Buenas tardes, me llamo Jose Antonio Mogollon, tengo 28 años y actualmente me encuentro cursando la carrera de Física Pura en la Universidad Nacional Mayor de San Marcos, Lima-Perú. Quería aprovechar las vacaciones para aprender programacion mediante el uso de Python, ha sido muy grata la experiencia en Coderhouse, he agarrado interés por el desarrollo Backend y la Ciencia de Datos, debido a que estudio y trabajo no voy a poder seguir del todo con los cursos, pero definitivamente en el futuro me gustaría continuar con ellos y así seguir aprendiendo más, espero que nos volvamos a encontrar, gracias.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock product_section %}


{% block related_items %}
    
{% endblock related_items %}