{% extends 'aplicacion/index.html' %}


{% block product_section %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">Bienvenido a Encuentralo.com</h1>
                <p class="lead">En Encuentralo.com, entendemos lo estresante que puede ser perder algo importante, ya sea una mascota querida, un objeto de valor sentimental o un dispositivo esencial para tu día a día. Por eso, hemos creado una plataforma dedicada a reconectar a las personas con sus pertenencias y seres queridos desaparecidos.</p>
            </div>
        </div>
    </div>
</section>
{% endblock product_section %}


{% block related_items %}
    
{% endblock related_items %}
    